
$primaryColor: #295470;
$secondaryColor: #EFEEEE;
$textColor1: white;
$textColor2: #295470;
$textColor3: #C9C5C5;
$buttonBG: #FC5F53;
$buttonDisableBG: #FD877C;
$checkBoxPointColor: #6BD640;
$checkBoxDisablePointColor: #C9C5C5;
