@font-face {
  font-family: Mosk; /* Имя шрифта */
  src: url("./fonts/Mosk Normal 400.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Mosk; /* Имя шрифта */
  src: url("./fonts/Mosk Medium 500.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Mosk; /* Имя шрифта */
  src: url("./fonts/Mosk Bold 700.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Mosk; /* Имя шрифта */
  src: url("./fonts/Mosk Light 300.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Mosk; /* Имя шрифта */
  src: url("./fonts/Mosk Thin 100.ttf");
  font-weight: 100;
}
